body,
html {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  margin: 0;
  color: #fff;
}

.outerbox {
  display: flex;
  padding: 0 30px;
}

.outerbox > div {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  height: calc(100vh - 140px);
  padding: 16px;
}

.left {
  width: 30vw;
  margin-right: 30px;
}

.right {
  flex: 1
}

.upload-btn{
  color: #fff;
}

.item{
  border-radius: 4px;
  padding: 4px 10px;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.1);
}